.fdemo_1{
    font-family: 微軟正黑體;
}
.fdemo_2{
    font-size: 20px;
}
.fdemo_3{
    color: blue;
}
.fdemo_4{
    font-weight: bold;
}
.fdemo_5{
    letter-spacing: 20px;
}
.fdemo_6{
    line-height: 40px;
}







